:root {
    --site-bg: #fafafa;
    --empty-bg: #f0f0f0;
    --head-foot-bg: #e5e5e5;
    --border-bg: #c8c8c8;

    --text-active: #52adcf;
    --text-active-light: #a9d6e7;
    --text-active-dark: #295768;
    --text-gray: #aaa;
}
