:root {
    --site-bg: #fafafa;
    --empty-bg: #F3F4F6;
    --head-foot-bg: #F3F4F6;
    --border-bg: #dadada;

    --text-active: #52adcf;
    --text-active-light: #a9d6e7;
    --text-active-dark: #295768;
    --text-gray: #aaa;
}
