---
import Layout from "$layouts/Layout.astro";
import Person from "$components/Person.astro";
---

<Layout pageTitle="About Us">
    <div id="container">

        <div id="mission-container">
            <h1 class="container-title">Our Mission</h1>
            <a>We are Project Plasma. A student-led team at the University of Sheffield looking at the research and development of a Farnsworth-Hirsch fusor. We provide members of our team the opportunity to develop technical skills wanted by the fusion industry, from working with simulation software to understand plasma physics, to hands-on work integrating systems we have built onto the fusor. By working closely with the University's Nuclear society, ANFS, we also get the opportunity to attend networking events with guest speakers from the fusion sector.</a>
            <a>Our mission, for the 2025/2026 academic year, is to reach neutron production from Deuterium-Deuterium reactions, and over the subsequent years improve on what we have built, hopefully reaching a level of neutron production that is industry competitive.</a>
        </div>

        <br>
        <div id="team-container">
            <h1 class="container-title">Meet The Team</h1>
            <div class="team">
                <Person name="George Viant" role="Project Lead" imgSrc="/profiles/profile_6.webp" />
                <Person name="Joeseph Whitehurst" role="Lab Lead" imgSrc="/profiles/profile_5.webp" />
                <Person name="Marren Muriuki" role="Health & Saftey Lead" imgSrc="/profiles/profile_4.webp" />
                <Person name="Joe Peers" role="Secretary" imgSrc="/profiles/profile_3.webp" />
                <Person name="Kelly Jones" role="Social Secretary" imgSrc="/profiles/profile_2.webp" />
                <Person name="Nayli Azli" role="Inclusions Officer & ANFS Rep" imgSrc="/profiles/profile_1.webp" />
                <Person name="Marcus James" role="Treasurer" imgSrc="/profiles/profile_0.webp" />
            </div>
        </div>

    </div>
</Layout>

<style>
    #container {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 30px;
        box-sizing: border-box;
    }

    #mission-container {
        max-width: 900px;
    }

    .container-title {
        width: 100%;
        text-align: center;
    }

    a {
        display: block;
        text-align: center;

        margin: 7px;
    }

    .team {
        margin-top: 30px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .team * {
    }

</style>
