---
import Layout from "$layouts/Layout.astro";
---

<Layout pageTitle="Contact">
    <div id="container">
        You can find us on linkedin... etc
    </div>
</Layout>

<style>
    #container {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
    }
</style>

