---
import Layout from "$layouts/Layout.astro";
---

<Layout pageTitle="News">
    <div id="container">
        This page is in mainteinance. Please check back soon.
    </div>
</Layout>

<style>
    #container {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
    }
</style>

