---
import HeaderButton from "$components/HeaderButton.astro";
import MobileNavbar from "$components/MobileNavbar.astro";
import { Icon } from 'astro-icon/components'
---

<!-- script for mobile navbar -->
<script>
    let mobileNavbarOpen = false;

    function openNavbar() {
        mobileNavbarOpen = true;
        document.getElementById("mobile-nav").classList.remove("hidden");
        document.getElementById("mobile-open-nav").classList.add("hidden");
        document.getElementById("mobile-close-nav").classList.remove("hidden");
    }

    function closeNavbar() {
        mobileNavbarOpen = false;
        document.getElementById("mobile-nav").classList.add("hidden");
        document.getElementById("mobile-open-nav").classList.remove("hidden");
        document.getElementById("mobile-close-nav").classList.add("hidden");
    }

    function toggleNavbar() {
        mobileNavbarOpen ? closeNavbar() : openNavbar();
    }

    let button = document.getElementById("phone-nav");
    if(button) {
        button.addEventListener("click", toggleNavbar);
    }
</script>

<div id="container">
    <a id="logo-container" href="/">
        <img alt="Logo" src="/logo_107_60.webp" href="/" style="border-radius: 7px;">
    </a>
    
    <div class="nav desktop-nav">
        <HeaderButton text="About Us" href="/about" />
        <HeaderButton text="Research" href="/research" />
        <HeaderButton text="Sponsors" href="/sponsors" />
        <HeaderButton text="News" href="/news" />
        <HeaderButton text="Contact Us" href="/contact" />
    </div>

    <div id="phone-nav" class="nav phone-nav">
        <div id="mobile-open-nav" class="icon-wrapper"><Icon name="mdi:hamburger-menu" width="24px" height="24px" /></div>
        <div id="mobile-close-nav" class="icon-wrapper hidden"><Icon name="mdi:close" width="24px" height="24px" /></div>
    </div>
</div>

<div id="mobile-nav" class="hidden">
    <MobileNavbar />
</div>

<style>
    #container {
        width: 100%;
        height: 74px;

        background-color: var(--head-foot-bg);
        border-bottom: 1px solid var(--border-bg);

        display: flex;
        justify-content: space-between;

        box-shadow:
            0px 7px 7px -2px rgba(0, 0, 0, 0.04),
            0px 20px 19px -6px rgba(0, 0, 0, 0.02);
    }

    #logo-container {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 150px;
    }

    .nav {
        width: 100%;

        display: flex;
        justify-content: space-between;
    }

    .phone-nav {
        display: none;

        justify-content: flex-end;
        align-items: center;

        /* particular values to give button some room */
        margin-left: 160px;
        padding-right: 20px;

        color: var(--text-active-dark);
    }

    /* border between header items in desktop nav */
    .desktop-nav {
        width: 500px;
        padding-right: 30px;
    }

    @media (max-width: 800px) {
        .desktop-nav { display: none; }
        .phone-nav { display: flex; }
    }


    /* to hide the mobile navbar */
    .hidden {
        display: none;
    }
    .icon-wrapper {
        width: 24px;
        height: 24px;
    }

    
</style>


