---
import "$styles/theme.css";

export interface Props {
    text: string;
    href: string;
}

const props = Astro.props as Props;
---

<a id="container" href={props.href}>
    {props.text}
</a>

<style>
    a {
        color: var(--text-active-dark);
        text-decoration: none;
        text-align: center;

        transition: 0.1s;
    }

    a:visited,
    a:active {
        color: var(--text-active-dark);
        text-decoration: none;
    }

    #container {
        display: flex;
        align-items: center;
        justify-content: center;

        flex-grow: 1;
    }

    #container:hover {
        background-color: #eaeaea;
        color: var(--text-active);
        cursor: pointer;
    }
</style>
