<div id="container">
    <br>
    <h1 id="title">Sponsors</h1>

    <div id="data">No sponsors at this time.
    </div>
</div>

<style>
    #container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #title {
        font-size: 3em;
    }

    #data {
        text-align: center;
    }

    a:visited,
    a:active, a {
        color: #555;
        text-decoration: underline;
    }
</style>


